.header {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  height: 4rem;
  will-change: filter;
  transition: filter 500ms;
}
.logo:hover {
  filter: drop-shadow(0 0 3rem var(--logo-color));
}
